:root {
    --primary-text: #00ffff;
    --secondary-text: #06cccc;
    --bg: #000000;
    --secondary-bg: #10131A;
    --scan: #141a1a;

    --chroab-strength: 1px;
    --chroab:
        calc(var(--chroab-strength) * 1)   0  0  rgba(255, 0, 255, 0.6),
        calc(var(--chroab-strength) * -1)  0  0  rgba(0, 255, 255, 0.6);
    --chroab-dark:
        calc(var(--chroab-strength) * 1)   0  0  rgba(128, 0, 128, 0.6),
        calc(var(--chroab-strength) * -1)  0  0  rgba(0, 64, 64, 0.6);
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--bg);
    overflow: hidden;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(1px);
}

h1 {
    font-family: 'EB Garamond';
    font-weight: 600;
    font-size: 3vh;
    color: var(--primary-text);
    text-shadow: var(--chroab);
    z-index: 1;
}

h3 {
    font-family: 'EB Garamond';
    font-weight: 500;
    font-size: 1.8vh;
    color: var(--primary-text);
    text-shadow: var(--chroab);
    z-index: 1;
}

p {
    font-family: 'EB Garamond';
    font-weight: 400;
    font-size: 1.5vh;
    line-height: 1.5;
    color: var(--secondary-text);
    text-shadow: var(--chroab);
    z-index: 1;
}

a:link {
  color: #00e6ff;
}
a:visited {
    color: #00e6ff;
}
a:hover {
    color: #cc00ff;
}
a:active {
    color: #cc00ff;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
}

.images img {
    height: 20vh;
    width: auto;
    filter: contrast(120%);
}

.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%, 
        rgba(0, 0, 0, 0.25) 50%), 
        linear-gradient(90deg,
        rgba(255, 0, 0, 0.06), 
        rgba(0, 255, 0, 0.02), 
        rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    }

    @keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.10626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.10626;
    }
    30% {
    opacity: 0.18128;
    }
    35% {
    opacity: 0.23604;
    }
    }

    .crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

.main {
    width: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foldy {
    position: fixed;
    left: calc(100vw - 120px);
    top: calc(100vh - 100px);
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s ease-out;
}

.foldy.talking {
    top: calc(100vh - 170px);
}

.foldy-dialog {
    font-family: 'EB Garamond';
    font-weight: 400;
    font-size: 1.5vh;
    line-height: 1.5;
    color: var(--primary-text);
    text-shadow: var(--chroab);
    z-index: 1;
    text-align: center;

    position: fixed;
    bottom: -200px;
    right: 20px;

    width: 200px;
    height: 100px;
    background-color: var(--secondary-bg);
    outline: 3px ridge var(--secondary-text);

    transition: 0.3s ease;
}

.foldy-dialog.active {
    bottom: 20px;

}

.foldy-dialog input {
    background-color: var(--bg);
    border: none;

    font-family: 'EB Garamond';
    font-weight: 400;
    font-size: 1.3vh;
    line-height: 1.5;
    color: var(--secondary-text);
    text-shadow: var(--chroab);
    z-index: 1;
}

.foldy-dialog input:focus {
    outline: none;
}

.foldy-dialog input::placeholder {
    color: var(--secondary-text);
    font-style: italic;
}

.off-screen-menu {
    padding-top: 10vh;
    background-color: var(--secondary-bg);
    box-shadow: var(--chroab-dark);
    height: 100vh;
    width: 100vh;
    max-width: 200px;
    position: fixed;
    top: 0;
    left: -450px;
    transition: 0.3s ease;

    font-family: 'EB Garamond';
    font-weight: 400;
    font-size: 1.8vh;
    color: var(--primary-text);
    text-shadow: var(--chroab);
    line-height: 2;
}

.off-screen-menu.active {
    left: 0;
}

nav {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.ham-menu {
    font-family: 'EB Garamond';
    z-index: 99;
    margin-right: auto;
    font-size: 3vh;
    color: var(--primary-text);
    text-shadow: var(--chroab);
    cursor: pointer; 
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}